<div>

  <div id="landing-container" class="container">
    <div class="row">
      <div id="landing-text" class="col-md-8">
        <p>Using artficial intelligence text analysis, Crosscurrent compares the emotional content of a passage of text the user enters to a database of song lyrics to return a selection of songs that most closely matches the passage. Crosscurent first takes the user's text and sends it to IBM's Watson Artificial Intelligence API for analysis of the emotional content. Next, the application compares the analysis of the text to a database of over 4,000 songs that have pre-analyzed by the Watson API.  Finally, Crosscurrent returns a selection of songs from the database that most closely match the text's emotional content.  Try it out!</p>
        <a href="#!/login/"><button class="btn btn-info" style="margin-top:10px" type="button">Go To Login/Register</button></a>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

</div>
